body {
  display: grid;
  align-items: center;
}

.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 1110px;

  border: 1px solid black;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: rgba(28, 32, 75, 1);
  border-radius: 15px;

  border: 1px solid black;
}

.profile {
  display: flex;
  flex-direction: column;

  background-color: rgba(87, 71, 234, 1);
  border-radius: 15px;

  height: 354px;
}

.navigation_sort-by {
  display: flex;
  flex-direction: column;
}
